In [1]:
# import some libraries
import sherlockml.filesystem as sfs
import pandas as pd
import os

In [2]:
sfs.ls()

['/input/', '/input/room_occupancy.csv', '/output/']

In [3]:
fname = 'room_occupancy.csv'
sfs_path = os.path.join('input',fname)
sfs.get(sfs_path,fname)

In [5]:
room = pd.read_csv(fname)
print(room.shape)
print(room.dtypes)
room.head(3)

(8143, 7)
date              object
Temperature      float64
Humidity         float64
Light            float64
CO2              float64
HumidityRatio    float64
Occupancy          int64
dtype: object

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
1,2015-02-04 17:51:00,23.18,27.2720,426.0,721.25,0.004793,1
2,2015-02-04 17:51:59,23.15,27.2675,429.5,714.00,0.004783,1
3,2015-02-04 17:53:00,23.15,27.2450,426.0,713.50,0.004779,1